* {
  font-family: Roboto;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  padding: 0.5rem;
}

img {
  width: 100%;
}

.logo {
  width: auto;
  height: 1.8rem;
}

.fixed {
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  border-bottom: 1px solid #999999;
}

.sub-bar {
  margin-top: 3.2rem;
  padding: 0.5rem;
  color: #666666;
}