* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.flex {
  display: flex;
}

.logo {
  width: auto;
  height: 1.8rem;
  display: block;
  margin: 1rem;
}

.fixed {
  width: 100%;
  position: fixed;
  background-color: #ffffff;
}

.keyword-div {
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  padding: 1rem;
  font-size: 1.15rem;
  color: #888888;
}

.mdi:hover {
  cursor: pointer;
}

.nav-drawer {
  color: #888888;
  width: 70%;
  padding-top: 10rem;
  display: none;
}
.nav-drawer ul {
  list-style: none;
}
.nav-drawer-list li{
  padding: 0.75rem;
}

main {
  padding-top: 7.2rem;
}
.main-article-text {
  margin: 1rem;
  border-bottom: 1px solid #888888;
}
.article-theme {
  font-size: 0.9rem;
}
.article-title {
  font-size: 1.5rem;
}

.outstanding-stories {
  padding: 1rem;
}
.storie:nth-of-type(2){
  border-top: 1px solid #888888;
  margin-top: 0.5rem;
}
.storie:nth-of-type(3){
  border-top: 1px solid #888888;
  margin-top: 0.5rem;
}
.storie .article-theme{
  font-size: 0.9rem;
}
.storie .article-title{
  font-size:  1.1rem;
}

.all-stories {
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
}

