* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.flex {
  display: flex;
}

.logo {
  width: auto;
  height: 1.8rem;
  display: block;
  margin: 1rem;
}

.fixed {
  width: 100%;
  position: fixed;
  background-color: #ffffff;
}

.keyword-div {
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  padding: 1rem;
  font-size: 1.15rem;
  color: #888888;
}
/* ToDo hacer funcional el habmbuerguer menu */
/* .hamburguer-menu {

} */

.mdi:hover {
  cursor: pointer;
}

.nav-drawer {
  color: #888888;
  width: 70%;
  padding-top: 10rem;
  display: none;
}
.nav-drawer ul {
  list-style: none;
}
.nav-drawer-list li{
  padding: 0.75rem;
}

main {
  padding-top: 7.2rem;
}
.main-article-text {
  margin: 1rem;
  border-bottom: 1px solid #888888;
}
.article-theme {
  font-size: 0.9rem;
}
.article-title {
  font-size: 1.5rem;
}

.outstanding-stories {
  padding: 1rem;
}
.outstanding:nth-of-type(2){
  border-top: 1px solid #888888;
  margin-top: 0.5rem;
}
.outstanding:nth-of-type(3){
  border-top: 1px solid #888888;
  margin-top: 0.5rem;
}
.outstanding .article-theme{
  font-size: 0.9rem;
}
.outstanding .article-title{
  font-size:  1.1rem;
}

.all-stories {
  border-top: 1px solid #888888;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
}

.stories-wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
}
.storie {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #888888;
}
.storie:hover{
  cursor: pointer;
}
.storie-date-theme{
  font-size: 0.9rem;
}
.storie-title {
  font-size: 1.2rem;;
}

.btn.blue {
  margin: 1rem;
  background-color: #3367d6;
  height: 4rem;
}
.btn.blue:hover{
  cursor: pointer;
}
.btn.blue > div {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  width: 12rem;
  transform: translateY(-50%);
  color: #ffffff;
}

footer {
  background-color: #fff;
  margin: 1rem;
  color: #888888;
}
.social {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #888888;
}
.social > *{
  margin-right: 1rem;
  font-size: 1.1rem;
}
footer > .logo { 
  margin-left: 0rem;
}
.about > a {
  margin-right: 1rem;
}

.mdi {
  color: #000
}
